.draft-header-bottom {
    display: flex;
    margin-top: 80px;
    margin-left: 25px;
    align-items: center;
}
.draft-header-bottom > h3 {
    font-size: 25px;
}
.draft-header-bottom > h3:nth-child(2) {
    font-weight: 400;
    margin-left: 5px;
}
.draft-header-bottom > h4 {
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5.5px;
}