
.editor-header-bottom {
    display: flex;
    margin-top: 80px;
    margin-left: 15px;
    align-items: center;
    background-color: rgb(228, 228, 228);
    padding: 0 10px 4px;
    border-radius: 2rem;
    width: fit-content;
    cursor: default;
}
.editor-header-bottom > h3 {
    font-size: 25px;
    
}
.editor-header-bottom > h3:nth-child(2) {
    font-weight: 400;
    margin-left: 5px;
}
.editor-header-bottom > h4 {
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5.5px;
}

/* Elements Panel */
.elements {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 25px;
    background-color: white;
    padding: 0.7rem 0.3rem;
    border-radius: 2rem;
    top: 170px;
    border: rgb(192, 192, 192) solid 0.5px;
}
.elements-function {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.1s;
    cursor: pointer;
}
.elements-function:hover {
    background-color: rgb(198, 198, 198);
}
.elements-icon {
    height: 2.2rem;
    
}
.elements-add-circle {
    position: absolute;
    width: 0.9rem;
    transform: translate3d(-0.6rem, -0.6rem, 0);
    opacity: 0;
    transition: opacity 0.1s;
}
.elements-description {
    position: absolute;
    left: 60px;
    background-color: rgb(87, 87, 87);
    color: white;
    border-radius: 4px;
    padding: 0 3px 2px;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.1s;
}
.elements-function:hover > .elements-description,
.elements-function:hover > .elements-add-circle  {
    opacity: 1;
}

.elements-control {
    top: 490px;
    left: 30px
}
.elements-control-icon {
    height: 24px;
    width: 24px;
}
.elements-control > p {
    margin: 5px 0;
    font-size: 0.9rem;
    text-align: center;
    cursor: default;
}


/* Canvas */
.canvas {
    max-width: calc(100vw - 290px);
    height: calc(100vh - 180px);
    top: 70px;
    left: 0px;
    background-color: rgb(228, 228, 228);
    position: fixed;
    overflow-x: visible;
    overflow-y: scroll;
    z-index: -10000000;
    padding: 60px 0 50px;
}
.draft-cont {
    display: flex;
    justify-content: center;
    min-width: calc(100vw - 300px);
    width: fit-content;
}
.draft {
    position: relative;
    z-index: 1;
}
.canvas-buffer {
    min-width: 100px;
    height: 1px;
    background-color: rgb(228, 228, 228);
}
.margin {
    position: absolute;
    z-index: -1000000;
    border: rgb(158, 205, 216) 0.3mm solid;
    outline: white 0.3mm solid;
}

textarea:focus {
    outline: none;
}



/* Control Panel */
.control {
    width: 280px;
    height: calc(100vh - 80px);
    background-color: white;
    position: fixed;
    right: 0;
    top: 70px;
    overflow-y: visible;
    overflow-x: hidden;
    border-left: rgb(232, 232, 232) solid 0.5px;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}
.control-title {
    margin-bottom: 16px;
    cursor: default;
}
.control-group {
    display: grid;
    grid-template-columns: auto auto;
}
.control-group button {
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 1rem;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 2px 3.5px transparent;
    transition: box-shadow 0.2s;
    background-color: #004e68;
    color: white;
    margin-top: 8px;
}
.control-group button:hover {
    box-shadow: 2px 3.5px gray;
}
.control-divider {
    margin-bottom: 10px;
    border-color: rgb(227, 227, 227);
    border-width: 0.5px;
    width: 270px;
    outline: none;
}
.control-form,
.control-form-long,
.control-form-check,
.control-form-color,
.control-form-slider,
.control-form-color-pick {
    font-size: 0.9rem;
    color: rgb(142, 142, 142);
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.control-form-color-pick {
    margin-top: 8px;
}
.control-form-long,
.control-form-color,
.control-form-slider-cont,
.control-form-color-pick {
    grid-column: 1 / span 2;
}
.control-form-slider-cont {
    background-color: rgb(233, 233, 233);
    width: 240px;
    border-radius: 5px;
    padding: 3px 10px 5px;
    margin-top: 5px;
}
.control-form-check {
    grid-column: 1 / span 2;
    margin: 0;
}
.control-form-long label,
.control-form label,
.control-form-color label,
.control-form-slider label {
    width: 3.5rem;
}
.elements-control input,
.control-form-check input,
.control-form input,
.control-form select,
.control-form-long input,
.control-form-color input,
.control-form-long select,
.control-form-slider-input {
    font-size: 0.9rem;
    width: 4rem;
    margin-left: 5px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 0 0 4px;
}
.control-form-color div,
.control-form-color-pick div {
    height: 0.9rem;
    width: 0.9rem;
    background: linear-gradient(#00ff00, #00ff00), url(transparent.svg);
    border: gray 1px solid;
    border-radius: 2px;
    margin: 0 5px;
    cursor: pointer;
}
.control-form-color-pick div {
    margin: 0 4px 0 0;
    background: none;
}
.control-form-long input {
    width: 2.5rem;
}
.control-form-slider-input {
    width: 2rem;
    background-color: rgb(233, 233, 233);
}
.control-form-check input {
    width: 15.2px;
    margin: 1px 3px 0 0;
}
.elements-control input {
    width: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}
.control-form-long select {
    width: 6rem;
    padding: 0;
}
.control-form-check label {
    font-size: 0.8rem;
    font-style: italic;
}
.elements-control input:hover,
.control-form-input:hover input,
.control-form select:hover,
.control-form-long input:hover,
.control-form-long select:hover,
.control-form-color input:hover,
.control-form input:hover,
.control-form-slider-input:hover {
    border: 1px solid rgb(186, 186, 186);
}
.elements-control input:focus,
.control-form input:focus,
.control-form select:focus,
.control-form-long input:focus,
.control-form-long select:focus,
.control-form-color input:focus,
.control-form-slider-input:focus {
    border: 1px solid rgb(0, 154, 188);
}
.control-group-title {
    font-weight: 600;
}
.control-form-long img {
    padding: 1px;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 5px;
    border: transparent 1px solid;
}
.control-form img {
    padding: 2px;
    border-radius: 3px;
}
.control-form-long img:hover,
.control-form img:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207);

}
.control-form-slider-slider {
    -webkit-appearance: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 140px;
}
.control-form-slider-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 
    background: #7e7e7e;
    border: rgb(218, 218, 218) solid 2px;
    cursor: pointer;
  }

@media (max-width: 960px) {
    .elements,
    .control {
        display: none;
    }
    .canvas {
        width: 100vw;
    }
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0 ,0);
  }
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0 ,0);
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0 ,0);
}

/* Up Down Button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}