/* ProjectDrop */
.projectdrop {
    position: absolute;
    background-color: rgb(103, 103, 103);
    opacity: 1;
    margin-left: 25px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    flex-direction: column;
    display: flex;
    z-index: 2;
}
.projectdrop-line {
    background-color: lightgray;
    border: lightgray 1=0.5px solid;
    width: calc(100% - 15px);
    align-self: center;    
    margin: 6px 0;
}
.projectdrop-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    border-radius: 7px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.projectdrop-list:hover {
    background-color: rgb(162, 162, 162);
}

.projectdrop-box {
    height: 1.7rem;
    margin-right: 0.3rem
}
.projectdrop-lid {
    height: 1.7rem;
    position: absolute;
    transition: transform 0.2s;
}
.projectdrop-list:hover > .projectdrop-lid {
    transform: rotate(-12deg) translate3d(0.08rem, -0.1rem, 0);
}
.projectdrop-plus {
    position: absolute;
    margin-left: 0.2rem;
    transition: transform 0.2s;
}
.projectdrop-list:hover > .projectdrop-plus {
    transform: scale(1.7);
}
.projectdrop h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-right: 15px;
}

/* DraftDrop */

.draftdrop {
    position: absolute;
    top: 55px;
    right: 10px;
}
.draftdrop h3 {
    font-size: 1.2rem;
    margin: 0 0 0.2rem 0;
}
.draftdrop-iconbase {
    height: 1.4rem;
    margin-right: 0.4rem
}
.draftdrop-iconmove {
    height: 1.4rem;
    position: absolute;
}
.draftdrop-star,
.draftdrop-rename,
.draftdrop-duplicate,
.draftdrop-delete,
.draftdrop-moveto {
    transition: transform 0.2s;
}
.projectdrop-list:hover > .draftdrop-star {
    transform: rotate(15deg);
}
.projectdrop-list:hover > .draftdrop-rename {
    transform: translateX(0.3rem);
}
.projectdrop-list:hover > .draftdrop-moveto {
    transform: translateX(0.3rem);
}
.projectdrop-list:hover > .draftdrop-duplicate {
    transform: translate3d(-0.1rem, -0.1rem, 0);
}
.projectdrop-list:hover > .draftdrop-delete {
    transform: translateY(-0.15rem);
}

/* AccountDrop */
.accountdrop {
    right: 5px;
    margin: 0;
    z-index: 11;
    top: 65px;
    position: fixed;
    z-index: 12;
}
.accountdrop h3 {
    font-size: 1.2rem;
}
.accountdrop-settings,
.accountdrop-logout {
    transition: transform 0.2s;
}
.accountdrop-settings {
    height: 0.6rem;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
}
.projectdrop-list:hover > .accountdrop-settings {
    transform: rotate(360deg);
}
.projectdrop-list:hover > .accountdrop-logout {
    transform: translateX(0.3rem);
}

/* Consistent Styles */
.popupform-positioner {
    position: fixed;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.popupform {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(103, 103, 103);
    border: rgb(192, 192, 192) solid 0.5px;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popupform h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.popupform-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popupform-input {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.popupform-notice {
    padding-left: 85px;
    align-self: baseline;
    margin-top: -4px
}
.popupform-input label {
    width: 80px;
    margin-right: 5px;
    color: #8E8E8E;
    font-size: 1rem;
    border-bottom: transparent solid 2px;
}
.popupform-input input,
.popupform-input select {
    width: 180px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 2px 4px;
    border: none;
    border-bottom: transparent solid 2px;
    transition: border-bottom 0.3s;
}
.popupform-input select {
    width: 188px;
}
.popupform-input input:hover,
.popupform-input select:hover,
.popupform-input-border {
    border-bottom: gray solid 2px !important; 
}
.popupform-input input:focus,
.popupform-input select:focus,
.popupform-input-border:focus {
    outline: none;
    border-bottom: #3688a3 solid 2px !important;
}
.popupform-input option {
    outline: none;
    cursor: pointer;
}
.popupform-buttoncont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.popupform-button {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1rem;
    border: none;
    padding: 4px 15px;
    cursor: pointer;
    box-shadow: 2px 3.5px transparent;
    transition: box-shadow 0.2s;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.popupform-button img {
    height: 1.1rem;
    margin-right: 8px;
}
.popupform-button:hover {
    box-shadow: 2px 3.5px gray;
}
.popupform-button-right {
    margin-right: 0;
}
.popupform-button-blue {
    background-color: #004e68;
    color: white
}
.popupform-button-red {
    background-color: maroon;
    color: white
}
.popupform-button-gray {
    background-color: rgb(172, 172, 172);
    color: white
}


/* Right Click */
.selectright {
    position: fixed;
}
.selectright h3 {
    font-size: 1.2rem;
    margin-right: 5px;
}
.selectright p {
    font-size: 0.7rem;
}
.selectright-copy,
.selectright-cut,
.selectright-duplicate,
.selectright-delete,
.selectright-download,
.selectright-undo,
.selectright-paste {
    transition: transform 0.2s;
}
.selectright-download {
    transform: translate3d(0, -2px, 0);
}
.projectdrop-list:hover .selectright-copy {
    transform: translate3d(-1px, 1px, 0);
}
.projectdrop-list:hover .selectright-cut {
    transform: rotate(20deg);
}
.projectdrop-list:hover .selectright-duplicate {
    transform: translate3d(-1px, -1px, 0);
}
.projectdrop-list:hover .selectright-delete {
    transform: translate3d(0, -2px, 0);
}
.projectdrop-list:hover .selectright-download {
    transform: translate3d(0, 2px, 0);
}
.projectdrop-list:hover .selectright-paste {
    transform: translate3d(0, -2px, 0);
}
.projectdrop-list:hover .selectright-undo {
    transform: rotate(-40deg) translate3d(-2px, 2px, 0);
}

/* Image Uploader */
.imageuploader-cont,
.iconadder-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 160px;
    height: fit-content;
    flex-direction: column;
}
.imageuploader {
    background-color: rgb(239, 239, 239);
    border: 1.5px solid lightblue;
    text-align: center;
    font-weight: 600;
    color: gray;
    line-height: 150px;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    cursor: pointer;
}
.imageuploader-cont button,
.iconadder-cont button {
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 1rem;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 2px 3.5px transparent;
    transition: box-shadow 0.2s;
    background-color: #004e68;
    color: white;
    margin: 6px 0 2px;
}
.imageuploader-cont button:nth-child(2),
.iconadder-cont button:nth-child(2) {
    background-color: rgb(134, 134, 134);
    margin-left: 5px;
}
.imageuploader-cont button:hover,
.iconadder-cont button:hover {
    box-shadow: 2px 3.5px rgb(178, 178, 178);
}

/* Icon Adder */
.iconadder-cont select {
    font-size: 0.8rem;
    border: transparent 1px solid;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px 0 5px 5px ;
}
.iconadder-search {
    font-size: 0.8rem;
    border: transparent 1px solid;
    border-radius: 5px;
    outline: none;
    margin-top: 3px
}
.iconadder-cont select:hover,
.iconadder-search:hover {
    border-color: lightgray;
}
.iconadder-cont select:focus,
.iconadder-search:focus {
    border-color: #22b1e0;
}